@import "fonts";
@import "vars";
@import "libs";
@import "reset";

$content-color:#999999;
$color-text:#333333;
$bg-btn:#BBA490;
$color-btn:#fff;
$color-menu:#fff;
$color-slider:#fff;
$content-paragraph:#333333;
$content-more:#333333;


.container {
	// outline:1px solid red;
	padding: 0 15px;
	overflow: hidden;
}

.row {
    
	.col, > [class^=col-] {
	    // outline: 1px solid blue;
	}
}

.hdr__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #EBEBEB;
	margin-bottom: 25px;
}

.list {
	display: flex;
	margin-bottom: 0;
	li {
		margin-left: 27px;
		font-size: 13px;
		font-family:SFProDisplay;
		&:first-child {
			margin-left: 0;
		}
		a{
			color: $content-color;
			position: relative;
			&:hover {
				text-decoration: none;
				&:hover:before {
					content: '';
					position: absolute;
					height: 1px;
					width: 100%;
					background-color: $content-color;
					bottom: 0;
					left: 0;
				}
			}
		}
	}
}

.hdr__icon {
	display: flex;
	justify-content: flex-end;
}

.hdr__icon-link {
	margin-left: 10px;
	&:first-child {
		margin-left: 0;
	}
}

.hdr__center {
	margin-bottom: 26px;
}

.logo {
	margin-right:8%;
}

.hdr__center-block {
	display: flex;
	align-items: flex-start;
	margin-right: 4%;
	margin-top: 19px;
	overflow: hidden;
}

.hdr__center-icon {
	margin-right: 6px;
}

.hdr__center-text {
	margin-top: -5px;
	font-size: 15px;
	color: $color-text;
	line-height: 1.5;
}

.hdr__btn {
	margin-top: 19px;
	margin-left: 4.6%;
	& a {
		background-color: $bg-btn;
		color: $color-btn;
		text-transform: uppercase;
		font-size:15px;
		padding: 13px 35px;
		border-radius: 25px;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}

}

.menu {
	background-color: #537F62;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	padding: 13px 0;
	overflow: hidden;
}

.menu__list-item {
	font-size: 16px;
	font-weight: 500;
	& a {
		color: $color-menu;
		position: relative;
		&:hover {
			text-decoration: none;
			&:hover:before {
					content: '';
					position: absolute;
					height: 1px;
					width: 100%;
					background-color: $color-menu;
					bottom: 0;
					left: 0;
				}
		}
	}
}

.hdr__slider {
	overflow: hidden;
}

.hdr__slider-box {
	position: relative;
	overflow: hidden;
	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		min-height: 550px;
	}
}

.slider__box-text {
	position: absolute; 
	top:50%;
	left: 50%;
	transform: translate(-50%, -54%);
}

.slider__h1 {
	color: $color-slider;
	font-size: 46px;
	line-height: 1.2;
	font-weight: 400;
	margin-bottom: 16px;
}

.slider__h6 {
	color: $color-slider;
	font-size:14px;
	font-weight: 400;
}

.slider__btn {
	margin-top: 25px;
	& a {
		border: 1px solid $color-btn;
		color: $color-btn;
		text-transform: uppercase;
		font-size:15px;
		padding: 13px 35px;
		border-radius: 25px;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}

}

.slick-slide:focus {
    outline: none;
}

.wrapper__content {
	padding-top: 115px;
}

.performance {
	margin-bottom: 85px;
}

.performance__top {
	overflow: hidden;
}

.block__text {
	overflow: hidden;
	// padding-right: 80px;
}

.paragraph__content {
	font-size: 40px;
	color: $content-paragraph;
	font-weight: 400;
	line-height: 1.3;
}

.performance__text {
	max-width: 460px;
	font-weight: 400;
	font-size:18px;
	color: #666666;
	line-height: 1.5;
	margin-top:20px;
}

.more {
	margin-top: 25px;
	& a {
		font-size: 18px;
		font-weight: 400;
		color: $content-more;
		position: relative;
		padding-right: 23px;
		background-image: url(../img/arrow-more.svg);
		background-repeat: no-repeat;
		background-position: right 9px;
		transition: .5s;
		&:hover {
			text-decoration: none;
			padding-right: 30px;
		}
		&:before {
			content: '';
			position: absolute;
			height: 1px;
			width: 90px;
			background-color: $content-more;
			bottom: -3px;
			left: 0;
		}
	}
}

.about__company-foto {
	object-fit: cover;
	height: 100%;
}

.performance__bottom {
	padding: 30px 0;
	margin-top: 10px;
}

.box__numbers {
	padding: 53px 0 55px 0;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,.06);
}

.numbers__item {
	color: $color-text;
	font-size:50px;
	font-weight: 400;
	margin-bottom: 3px;
}

.numbers__text {
	text-align: center;
	color: $content-color;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
}

.our__specialists {
	background: #FAFAFA;
}

.our__specialist-block {
	overflow: hidden;
	padding: 75px 0 85px 0; 
	position: relative;
}

.text__content {
	font-size:18px;
	color: $content-color;
	margin: 17px 0 50px 0;
}

a.specialist-box {
	width: 100%;
	background-color: #ffffff;
	display: block;
	border-radius: 10px;
	padding-bottom: 20px;
	text-align: center;
	overflow: hidden;
	&:hover {
    	text-decoration: none;
	}
	&:focus {
		outline: none;
    	border: none;
	}
}


.specialist__carousel-foto {
	height: 100%;
	width: 100%;
}

.specialist__carousel-paragraph {
	color: #101D30;
	font-size:18px;
	margin:25px 0 5px 0;
}

.specialist__carousel-text {
	font-size:15px;
	color: #999999;
}

.our__services {
	padding: 75px 0 55px 0;
}

.box__services {
	overflow: hidden;
	display: block;
	background: #ffffff;
	margin-bottom: 30px;
	text-align: center;
	padding: 30px 0 45px 0;
	border-radius: 10px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.06);
    &:hover {
    	text-decoration: none;
    }
}

.box__services-foto {
	margin-bottom: 20px;
}

.box__services-paragraph {
	font-size: 22px;
	color:$color-text;
	margin-bottom: 7px;
}

.box__services-text {
	color: #666666;
	font-size: 16px;

}

.our__articles {
	background: #FAFAFA;
}

.our__articles-block {
	padding: 75px 0 85px 0; 
	position: relative;
}

a.articles-box {
	background-color: #ffffff;
	display: block;
	border-radius: 10px;
	padding-bottom: 20px;
	overflow: hidden;
	&:hover {
    	text-decoration: none;
	}
	&:focus {
		outline: none;
    	border: none;
	}
}

.articles__carousel-foto {
	height: 100%;
	width: 100%;
}

.articles__carousel-paragraph {
	color: $content-paragraph;
	font-size:16px;
	line-height: 1.3;
	margin:25px 33px 15px 20px;
}

.articles__carousel-text {
	font-size:14px;
	color: #666666;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 33px;
	line-height: 1.3;
}

.articles__carousel-date {
	font-size: 14px;
	color: #BBA490;
	margin-left: 20px;
	margin-right: 33px;
}

.our__questions {
	padding: 75px 0 55px 0;
}



















@import "media";
